---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Dimensions
$max-content-width: {{ site.max_width }};
.post-hero {
  width: 100vw;
  margin-left: calc(50% - 50vw);
  margin-right: calc(50% - 50vw);

  height: 260px;
  background-size: cover;
  background-position: center;

  display: flex;
  align-items: center;
  justify-content: center; /* center horizontally */
  text-align: center;
}

.post-hero-inner {
  max-width: 900px;
  padding: 0 1.5rem;
  color: white;
}


@import
  "variables",
  "themes",
  "layout",
  "base",
  "distill"
;
